<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<u><h1 th:text="${title}"></h1></u>

<div>

    <p th:each="project : ${allProjects}">

        <ul>
            <li>
                <a th:href="'/project/project-overview/' + ${project.id}" th:text="${project.title}"></a>
            </li>
                Notes: <br/>
                <span th:text="${project.notes}"></span>
                <br/>
                <form th:action="'/project/delete-project/' + ${project.id}" method="post">
                    <input type="submit" value="Delete" class="delete-button" />
                </form>
        </ul>

    </p>

    <p th:unless="${allProjects.size()}">
        No projects yet, rip. <a href="/project/create-project">make one lol</a>
    </p>

    <br/>
    <hr/>
    <p><a href="/project/dashboard"> Back to Dashboard</a></p>

</div>

</body>

</html>