<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<u><h1 th:text="${title}"></h1></u>

<div th:each="project : ${allProjects}">

    <div class="allprojects-project-wrapper">
        <ul>
            <li><h3><a th:href="'/project/project-overview/' + ${project.id}" th:text="${project.title}"></a></h3></li>
        </ul>

        <span><b>Notes/Description:</b></span>
        <p th:text="${project.notes}"></p>

        <form th:action="'/project/delete-project/' + ${project.id}" method="post">
            <input type="submit" value="Delete" class="delete-button" />
        </form>
    </div>

    <br/>
</div>


<p th:unless="${allProjects.size()}">
    No projects yet, rip. <a href="/project/create-project">make one lol</a>
</p>

<br/>
<hr/>
<p><a href="/project/dashboard"> Back to Dashboard</a></p>


</body>

</html>