<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>


<h2 th:text="${title}"></h2>

<form method="post" th:object="${project}">

    <!--
    <div>
        <label th:for=""></label>
        <input type="text" th:field="*{}"/>
        <span th:errors="*{}"> </span>
    </div>
    -->

    <!--
    <div>
        <label th:for=""></label>
        <select th:field="*{}">
            <option th:each="cheeseType : ${cheeseTypes}"
                    th:text="${cheeseType.name}"
                    th:value="${cheeseType}"></option>
        </select>
    </div>
    -->

    <p><div>
        <label th:for="title">Title: </label>
        <input type="text" th:field="*{title}"/>
        <span th:errors="*{title}"> </span>
    </div></p>


    <p><div>
        <label th:for="subtitle">Subtitle: </label>
        <input type="text" th:field="*{subtitle}"/>
        <span th:errors="*{subtitle}"> </span>
    </div></p>


    <p><div>
        <label th:for="lyricist">Lyricist: </label>
        <input type="text" th:field="*{lyricist}"/>
        <span th:errors="*{lyricist}"> </span>
    </div></p>


    <p><div>
    <label th:for="primary_music_key">Primary Music Key</label>
        <select th:field="*{primary_music_key}">
            <option th:each="key : ${allMusicKeyTypes}"
                    th:text="${key.name}"
                    th:value="${key}"></option>
        </select>
        <span th:errors="*{primary_music_key}" />
    </div></p>


    <p><div>
        <label th:for="secondary_music_key">Secondary Music Key</label>
        <select th:field="*{secondary_music_key}">
            <option th:each="key : ${allMusicKeyTypes}"
                    th:text="${key.name}"
                    th:value="${key}"></option>
        </select>
        <span th:errors="*{secondary_music_key}" />
    </div></p>


    <p><div>
        <label th:for="mode">Mode</label>
        <select th:field="*{mode}">
            <option th:each="mode : ${allModes}"
                    th:text="${mode.name}"
                    th:value="${mode}"></option>
        </select>
        <span th:errors="*{mode}" />
    </div></p>


    <p><div>
        <label th:for="genre">Genre: </label>
        <input type="text" th:field="*{genre}"/>
        <span th:errors="*{genre}"> </span>
    </div></p>


    <p><span>Primary Time Signature:

        <select th:field="*{primary_time_sig_num}">
            <option th:each="sig : ${allTimeSigNum}"
                    th:text="${sig.name}"
                    th:value="${sig}"></option>
        </select>

        <b>/</b>

        <select th:field="*{primary_time_sig_den}">
            <option th:each="sig : ${allTimeSigDen}"
                    th:text="${sig.name}"
                    th:value="${sig}"></option>
        </select>

        <span th:errors="*{primary_time_sig_num}" />
        <span th:errors="*{primary_time_sig_den}" />

    </span></p>


    <p><span>Secondary Time Signature:

        <select th:field="*{secondary_time_sig_num}">
            <option th:each="sig : ${allTimeSigNum}"
                    th:text="${sig.name}"
                    th:value="${sig}"></option>
        </select>

        <b>/</b>

        <select th:field="*{secondary_time_sig_den}">
            <option th:each="sig : ${allTimeSigDen}"
                    th:text="${sig.name}"
                    th:value="${sig}"></option>
        </select>

        <span th:errors="*{secondary_time_sig_num}" />
        <span th:errors="*{secondary_time_sig_den}" />

    </span></p>


    <p><div>
        <label th:for="instruments">Instrument Lineup: </label> <br/>
        <textarea style="font-family:Arial;" rows="7" cols="45" th:field="*{instruments}"></textarea>
        <span th:errors="*{instruments}"> </span>
    </div></p>


    <p><div>
        <label th:for="notes">Description/Notes: </label> <br/>
        <textarea style="font-family:Arial;" rows="12" cols="55" th:field="*{notes}"></textarea>
        <span th:errors="*{notes}"> </span>
    </div></p>


    <p><div>
        <label th:for="isPublicPrivate">Make this work: </label>
        <select name="isPublicPrivate">
            <option value="private">Private</option>
            <option value="public">Public</option>
        </select>
    </div></p>


    <p><input type="submit" value="Add" /></p>

</form>


</body>

</html>