<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h2 th:text="${title}"></h2>

<form method="post" th:object="${project}">

    <p><div>
        <label th:for="title">Title: </label>
        <input type="text" th:field="*{title}" value="Untitled"/>
        <span th:errors="*{title}"> </span>
    </div></p>


    <p><div>
        <label th:for="subtitle">Subtitle: </label>
        <input type="text" th:field="*{subtitle}"/>
        <span th:errors="*{subtitle}"> </span>
    </div></p>


    <p><div>
        <label th:for="lyricist">Lyricist: </label>
        <input type="text" th:field="*{lyricist}"/>
        <span th:errors="*{lyricist}"> </span>
    </div></p>


    <p><div>
    <label th:for="primary_music_key">Primary Music Key</label>
        <select th:field="*{primary_music_key}">
            <option th:each="key : ${allMusicKeyTypes}"
                    th:text="${key.name}"
                    th:value="${key}"></option>
        </select>
        <span th:errors="*{primary_music_key}"></span>
    </div></p>


    <p><div>
        <label th:for="secondary_music_key">Secondary Music Key</label>
        <select th:field="*{secondary_music_key}">
            <option th:each="key : ${allMusicKeyTypes}"
                    th:text="${key.name}"
                    th:value="${key}"></option>
        </select>
    <span th:errors="*{secondary_music_key}"></span>
    </div></p>


    <p><div>
        <label th:for="mode">Mode</label>
        <select th:field="*{mode}">
            <option th:each="mode : ${allModes}"
                    th:text="${mode.name}"
                    th:value="${mode}"></option>
        </select>
    <span th:errors="*{mode}"></span>
    </div></p>


    <p><div>
        <label th:for="genre">Genre: </label>
        <input type="text" th:field="*{genre}"/>
        <span th:errors="*{genre}"> </span>
    </div></p>


    <p>
        <span>Primary Time Signature: </span>

        <select th:field="*{primary_time_sig_num}">
            <option th:each="sig : ${allTimeSigNum}"
                    th:text="${sig.name}"
                    th:value="${sig}"></option>
        </select>

        <b>/</b>

        <select th:field="*{primary_time_sig_den}">
            <option th:each="sig : ${allTimeSigDen}"
                    th:text="${sig.name}"
                    th:value="${sig}"></option>
        </select>

        <span th:errors="*{primary_time_sig_num}" ></span>
        <span th:errors="*{primary_time_sig_den}" ></span>

    </p>


    <p>
        <span>Secondary Time Signature: </span>

        <select th:field="*{secondary_time_sig_num}">
            <option th:each="sig : ${allTimeSigNum}"
                    th:text="${sig.name}"
                    th:value="${sig}"></option>
        </select>

        <b>/</b>

        <select th:field="*{secondary_time_sig_den}">
            <option th:each="sig : ${allTimeSigDen}"
                    th:text="${sig.name}"
                    th:value="${sig}"></option>
        </select>

        <span th:errors="*{secondary_time_sig_num}"></span>
        <span th:errors="*{secondary_time_sig_den}"></span>

    </p>


    <p><div>
        <label th:for="instruments">Instrumentation: </label> <br/>
        <textarea id="instruments" th:field="*{instruments}"></textarea>
        <span th:errors="*{instruments}"> </span>
    </div></p>


    <p><div>
        <label th:for="notes">Notes/Description: </label> <br/>
        <textarea id="notes" th:field="*{notes}"></textarea>
        <span th:errors="*{notes}"> </span>
    </div></p>


    <p><div>
        <label th:for="isPublicPrivate">Make this work: </label>
        <select name="isPublicPrivate">
            <option value="private" selected="selected">Private</option>
            <option value="public">Public</option>
        </select>
    </div></p>


    <p><input type="submit" value="Add" /></p>

</form>


</body>

</html>