<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}"></h1>

<i><span th:text="${actionMessage}"></span></i>

<h2>Actions</h2>

<ul>
    <li><a href="/project/create-project">Create a new project profile</a></li>
    <li><a href="/project/all-projects">View All Projects</a></li>
    <li><a href="/user/user-profile">Edit Profile and Settings</a></li>
</ul>

<hr/>

<h2>Recent Works</h2>

<p th:each="project : ${projectList}"><a th:href="'/project/project-overview/' + ${project.id}" th:text="${project.title}"></a></p>

</body>

</html>