<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

    <div th:utext="${htmlResponse}">


    </div>



    <form th:action="|/project/dropbox-utils/${project.id}|" method="get">
        <input class="dbx-button" type="submit" value="Go Back to Dropbox Utilities" />
    </form>

    <form th:action="|/project/project-overview/${project.id}|" method="get">
        <input class="dbx-button" type="submit" value="Go Back to Project Overview" />
    </form>



    <p> <u>Note:</u> this page's information will expire once you return to the project overview.</p>

</body>

</html>