<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h1 th:text="|${project.title} - ${title}|"></h1>

<ul><i><li th:if="${actionMessage}" th:text="${actionMessage}" style="color: #42e4ed;"></li></i></ul>



<div class="overview-top-half-wrapper">


    <div class="info-fields-wrapper">
        <table>
            <tr>
                <td class="field-tag">Composer </td>
                <td th:text="${project.user.username}"></td>
            </tr>

            <tr>
                <td class="field-tag">Title </td>
                <td th:text="${project.title}"></td>
            </tr>

            <tr>
                <td class="field-tag">Subtitle </td>
                <td th:text="${project.subtitle}"></td>
            </tr>

            <tr>
                <td class="field-tag">Lyricist </td>
                <td th:text="${project.lyricist}"></td>
            </tr>

            <tr>
                <td class="field-tag">Primary Music Key </td>
                <td th:text="${project.primary_music_key.name}"></td>
            </tr>

            <tr>
                <td class="field-tag">Secondary Music Key </td>
                <td th:text="${project.secondary_music_key.name}"></td>
            </tr>

            <tr>
                <td class="field-tag">Mode </td>
                <td th:text="${project.mode.name}"></td>
            </tr>

            <tr>
                <td class="field-tag">Genre </td>
                <td th:text="${project.genre}"></td>
            </tr>

            <tr>
                <td class="field-tag">Primary Time Signature </td>
                <td><span th:text="${project.primary_time_sig_num.name}"></span>/<span th:text="${project.primary_time_sig_den.name}"></span></td>
            </tr>

            <tr>
                <td class="field-tag">Secondary Time Signature </td>
                <td><span th:text="${project.secondary_time_sig_num.name}"></span>/<span th:text="${project.secondary_time_sig_den.name}"></span></td>
            </tr>

            <tr>
                <td class="field-tag">Instrumentation </td>
                <td th:text="${project.instruments}"></td>
            </tr>

            <tr>
                <td class="field-tag">Restriction </td>
                <td>
                    <span th:if="${project.isPublic()} == true">Public</span>
                    <span th:if="${project.isPublic()} == false">Private</span>
                </td>
            </tr>
        </table> <br/>
    </div>


    <div class="overview-notes-wrapper">

        <h3>Notes/Description</h3>

        <p><form th:action="|/project/update-notes/${project.id}|" method="post">
            <textarea id="overview-notes" name="notes" th:text="${project.notes}"></textarea> <br/>
            <input type="submit" value="Save" />
        </form></p>
    </div>


    <div class="action-buttons">
        <form th:action="|/project/edit-project/${project.id}|" method="get" style="float: left; margin-right: 10px;">
            <input type="submit" value="Edit Info" />
        </form>

        <form th:action="|/project/delete-project/${project.Id}|" method="get" style="float: left;">
            <input class="delete-button" type="submit" value="Delete Project" />
        </form>
    </div>



</div>



<hr/> <!-- !!!!!!! DIVIDES TOP AND BOTTOM HALFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF  !@!!!!!!! yeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeet -->



<div class="overview-bottom-half-wrapper">

    <div class="tasks-manager-wrapper">
        <table>
                <caption><b>Ideas/Reminders/Tasks</b></caption>

                <th class="description-head">Description</th>
                <th class="date-head">Due Date</th>
                <th class="delete-head">Delete</th>

                <tr th:each="task : ${tasks}">
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.dueDate}"></td>
                    <td><form method="post" th:action="|/project/delete-task/${task.id}/${project.id}|"><input type="submit" value="Del."/></form></td>
                </tr>

                <!-- In case there's none, make it look like a table not just t-heads -->
                <tr th:if="${tasks.isEmpty()}">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>

            <br/>

        <h3>Add Entry:</h3>

        <form method="post" th:object="${task}" th:action="|/project/create-task/${project.Id}|">

            <p>
                <label>Description (required):
                    <br/>
                    <textarea id="task-description" th:field="*{description}"></textarea>
                </label> <br/>
                <span th:errors="*{description}"></span>
            </p>

            <p>
                <label>Due Date (optional):
                    <br/>
                    <input type="date" th:field="*{dueDate}" size="9" />
                </label>
            </p>

            <input type="submit" value="Submit" />
        </form><br/>
    </div>



    <!-- FILES float right -->
    <div class="files-wrapper">
        <h3><u>Files/Directories</u></h3>

        <p>
            Usage: Simply paste the full path of the desired entry into the field, and click Add.
            Adding paths that do not exist will not be allowed. Files opened will do so with the default system program.
            Directories are opened standard-like with a file explorer. If a path has been moved or removed since importation,
            you will be redirected to your default Documents folder in a file explorer. Deleting a file/folder won't put it
            in the recycle bin or trash on your system, merely remove it from your listings.
        </p>

        <div>
            <table>
                <th class="file-head">Filename/Child Directory</th>
                <th class="full-path-head">Full Path</th>
                <th class="open-head"></th>
                <th class="delete-head"></th>

                <tr th:each="path : ${filePaths}">

                    <td> <!-- Filename -->
                            <span th:if="${@isDirOrFile.isDirectory(path)}">[Dir.]</span> <br/>
                            <span th:if="${@isDirOrFile.isFile(path)}">[File]</span>
                            <span th:text="${path.getFileName()}"></span>
                    </td>

                    <td th:text="${path}"></td> <!-- fullpath -->

                    <td> <!-- open -->
                        <span><form th:action="|/project/open-path/${project.id}|" method="post">
                        <input type="hidden" name="path" th:value="${path}"/>
                        <input type="submit" value="Open" />
                        </form></span>
                    </td>

                    <td> <!-- delete -->
                        <span><form th:action="|/project/delete-path/${project.id}|" method="post">
                            <input type="hidden" name="path" th:value="${path}" />
                            <input class="delete-button" type="submit" value="Del." />
                        </form></span>
                    </td>

                </tr>

                <!-- In case there's none, make it look like a table not just t-heads -->
                <tr th:if="${filePaths.isEmpty()}">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        </div> <br/>

        <form method="post" th:action="|/project/add-path/${project.Id}|">
            <input type="text" name="filePathString" style="width: 500px" />
            <input type="submit" value="Add" />
        </form> <br/>
    </div>
    <!-- yeet -->


</div>

<hr/>


</body>

</html>