<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<h2 th:text="${title}"></h2>


<div>
    <span><b>Composer: </b></span>
    <span th:text="${project.user.username}"></span>
</div> <br/>

<div>
    <span><b>Title: </b></span>
    <span th:text="${project.title}"></span>
</div> <br/>

<div>
    <span><b>Subtitle: </b></span>
    <span th:text="${project.subtitle}"></span>
</div> <br/>

<div>
    <span><b>Lyricist: </b></span>
    <span th:text="${project.lyricist}"></span>
</div> <br/>

<div>
    <span><b>Primary Music Key: </b></span>
    <span th:text="${project.primary_music_key.name}"></span>
</div> <br/>

<div>
    <span><b>Secondary Music Key: </b></span>
    <span th:text="${project.secondary_music_key.name}"></span>
</div> <br/>

<div>
    <span><b>Mode: </b></span>
    <span th:text="${project.mode.name}"></span>
</div> <br/>

<div>
    <span><b>Genre: </b></span>
    <span th:text="${project.genre}"></span>
</div> <br/>

<div>
    <span><b>Primary Time Signature: </b></span>
    <span th:text="${project.primary_time_sig_num.name}"></span>/<span th:text="${project.primary_time_sig_den.name}"></span>
</div> <br/>

<div>
    <span><b>Secondary Time Signature: </b></span>
    <span th:text="${project.secondary_time_sig_num.name}"></span>/<span th:text="${project.secondary_time_sig_den.name}"></span>
</div> <br/>

<div>
    <span><b>Instrument Lineup: </b></span>
    <p th:text="${project.instruments}"></p>
</div> <br/>

<div>
    <span><b>Notes/Description: </b></span>
    <p th:text="${project.notes}"></p>
</div>

<hr/>

<div>
    <table class="tasks-table">

        <caption><b>Ideas/Reminders/Tasks</b></caption>

        <th class="tasks-head">Description</th>
        <th class="tasks-head">Due Date</th>
        <th class="tasks-head">Delete</th>

        <tr class="tasks-row" th:each="task : ${tasks}">
            <td class="tasks-data" th:text="${task.description}"></td>
            <td class="tasks-data" th:text="${task.dueDate}"></td>
            <td class="tasks-data"><form method="post" th:action="'/project/delete-task/' + ${task.id} + '/' + ${project.id}"><input type="submit" value="Del."/></form></td>
        </tr>

    </table>
</div>

<br/>

<h3>Add Entry:</h3>

<form method="post" th:object="${task}" th:action="'/project/create-task/' + ${project.Id}">

    <label>Description (required):
        <br/>
        <textarea th:field="*{description}" rows="2" cols="45"></textarea>
    </label>
    <span th:errors="*{description}"></span>

    <br/>

    <label>Due Date (optional):
        <br/>
        <input type="date" th:field="*{dueDate}" size="9" />
    </label>
    <span></span>

    <br/> <br/>
    <input type="submit" value="Submit" />
</form>

<hr/>

<h3>Options:</h3>

<ul>
    <li><a href="/project/edit">Edit this profile</a></li>
    <li><a th:href="'/project/delete-project/' + ${project.Id}">Delete this profile</a></li>
    <li><a href="/project/dashboard">Go back to the Dashboard</a></li>
</ul>

</body>

</html>