<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<u><h1 th:text="${title}"></h1></u>

<p th:if="${allPublicProjects.isEmpty()}">No one has set a work as public yet.</p>

<!-- This div is one single public project and all its data and comments -->
<div th:each="project : ${allPublicProjects}">
    <div class="single-project-wrapper">

        <div>
            <h1> <i><a th:text="${project.title}" th:href="|/project/project-overview/${project.id}|"></a></i> </h1>

            <div class="author">
                <img th:if="${project.user.avatarImage} != null" class="author-avatar" th:src="@{|/user/user-profile/avatar/${project.user.id}|}" />
                <div th:text="${project.user.username}"></div>
                <form><input type="submit" value="Go to Profile" /></form>
            </div>

            <b>Description/Notes:</b>
            <p style="word-wrap: break-word;" th:text="${project.notes}"></p>
            <span th:if="${#lists.isEmpty(project.notes)}">[None]</span>
        </div>

        <hr/> <!-- Long line separating info from Comments -->

        <div>
            <h2>Comments: </h2>

            <div th:each="comment : ${project.comments}">
                <div class="comment">

                    <span><img class="post-avatar" th:src="@{|/user/user-profile/avatar/${comment.user.id}|}" /></span>

                    <u><span style="font-size: 22px;" th:text="${comment.user.username}"></span></u>    <br/>

                    <div class="comment-contents" th:text="${comment.contents}"></div>

                </div>
            </div>

            <form action="/blog" method="post" th:object="${comment}">
                <!-- Comment --><textarea id="comment" class="textarea" th:field="*{contents}" th:text="Comment..."></textarea> <br/>
                <!-- Error Msg --><span class="comment-error" th:errors="*{contents}"></span> <br/>
                <!-- Submit --><input type="submit" value="Post"/>
                <!-- Hidden projectId --><input type="hidden" th:value="${project.id}" name="projectId" />
            </form>
        </div>

    </div> <br/> <br/>
</div>
<!-- End of project -->


</body>

</html>