<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h3 th:text="${date}"></h3>

<p th:text="${loggedInUser}"></p>

<center><h1 th:text="${title}"></h1></center>

<h3><a href="https://github.com/NicholasJonesCode/composers-project-dashboard/blob/master/README.md">SOURCE: https://github.com/NicholasJonesCode/composers-project-dashboard/blob/master/README.md</a></h3>

<p th:utext="${readme}"></p>

</body>

</html>