<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<nav>

    <a href="/blog">Blog</a> |
    <a href="/user/create-user">Sign Up</a> |
    <a href="/project/dashboard">Dashboard</a> |
    <a href="/user/login">Log In</a> |
    <a href="/user/logout">Log Out</a> |

</nav>

<h3 th:text="${date}"></h3>

<p th:text="${loggedInUser}"></p>

<h1><center>Welcome to the Composer's Project Dashboard!</center></h1>

<h3><center>(Overview from the liftoff assignment will go here later when I finish it)</center></h3>

</body>

</html>