<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<h2>Composer Profile and Settings</h2>

<p th:text="'Your username is: ' + ${currentUsername}"></p>
<span><form method="get" action="/user/change-username"><input type="submit" value="Change Username"/></form></span>

<!-- Change password function doesnt work yet -->
<p th:text="'Your Password: ' + '********' "></p>
<span><form method="get" action="/user/change-password"><input type="submit" value="Change Password"/></form></span>

<p><a href="/">Go back to the front page</a></p> <br/>

<p>Click below to remove your account: </p>
<form method="get" action="/user/delete-user">
    <input type="submit" value="Delete" />
</form>

<p>Add new composition:</p>
<form method="get" action="/project/create-project">
    <input type="submit" value="Go" />
</form>

<p>Go to Dashboard:</p>
<form method="get" action="/project/dashboard">
    <input type="submit" value="Go" />
</form>

</body>

</html>