<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<h1>Composer Profile and Settings</h1>

<div class="avatar-wrapper" th:if="${#ctx.httpSession.getAttribute('currentUserObj').avatarImage} != null">
    <img class="avatar" th:src="@{|/user/user-profile/avatar/${currentUser.id}|}" />
</div>

<b><u><h2 th:text="${currentUser.username}"></h2></u></b>


<p><u>Actions:</u></p>

<span>
    <form method="get" action="/user/change-username">
        <input type="submit" value="Change Username"/>
    </form>
</span> <br/>

<!-- Change password function doesnt work yet -->
<span>
    <form method="get" action="/user/change-password">
        <input type="submit" value="Change Password"/>
    </form>
</span> <br/>

<span>
    <form method="get" action="/user/delete-user">
        <input type="submit" value="Delete Account" />
    </form>
</span> <br/>

<span>
    <form method="get" action="/user/upload-avatar">
        <input type="submit" value="Add/Change Avatar" />
    </form>
</span>


</body>

</html>