<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<header th:replace="fragments :: header"></header>

<p>Upload a profile picture. Size limit is 5MB. Note: if you try to upload a file that doesnt exist, you will time out to a white page.</p>

<i><p style="text-indent: 1.5em;" th:text="${actionMessage}"></p></i>

<form method="post" enctype="multipart/form-data">

    <input type="file" accept="image/*" name="avatarUpload" formenctype="multipart/form-data" />
    <input type="submit" value="upload" />

</form>

</body>

</html>