/*EVERYTHING*/

html * {
    color: white;
    font-family: Candara;

    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("https://www.imageupload.co.uk/images/2018/06/02/composers-dashboard-app-background47da0.jpg");
    /*"https://static.zerochan.net/The.Flower.of.Immorality.full.921646.jpg"  <--  Kagamine Rin/Len fan pic*/
    /*"https://images5.alphacoders.com/712/thumb-1920-712962.jpg" <-- zelda-ocarina-forest pic */
    /*extra darkening on the gradient, for better UX 'rgba(0, 0, 0, 0.5)' or similar */
    background-color: white;
    background-attachment: fixed;

    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

}

        /*Text highlighting*/
*::-moz-selection {
    background: #ff748c; /*its like a dark pink*/
    color: white;
}
*::selection {
    background: #ff748c;
    color: white;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double white;
    color: white;
    text-align: center; }
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url("https://www.imageupload.co.uk/images/2018/06/02/composers-dashboard-app-background47da0.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

option {
    background-color:black;
}

.delete-button {
    color: white;
    background: red;
}

table {
    border: 2px solid white;
    font-size: 1em;
    padding: 5px 5px;
    border-collapse: collapse;
    table-layout: fixed;
    width:100%;
    overflow-wrap: break-word;
}

td {
    border: 1px solid white;
    padding: 0.3rem;
}

th {
    border: 1px solid white;
    padding: 0.3rem;
}

textarea#notes {
    height: 250px;
    width: 700px;
}

textarea#instruments {
    height: 160px;
    width: 450px;
}

input[type=text], input[type=password] {
    border: 1px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.2);

    width: 275px;
}


.dbx-button{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:5px 25px; /*add some padding to the inside of the button*/
margin: 0.2%; /*some margin around the outside*/
background:#007DE4; /*the colour of the button*/
border:1px solid #005aa3; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color: white;
font-size:1.1em;
}
.dbx-button:hover, .dbx-button:focus{
background-color :#005aa3; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}

/*project-overview.html*/

    /*GENERIC*/
.info-fields-wrapper {
    width: 46%;
    float:left;
}

.action-buttons {
    padding: 0.5%;
    float: left;
    clear: both;
}

.field-tag {
    text-decoration: underline;
    font-weight: bold;
    width: 23%;
}

.overview-first-section-wrapper {
    float: top;
    overflow: auto;
    margin-bottom: 2%;
        /*border: 2px solid white; */
}

.overview-second-section-wrapper {
    width:100%;
    overflow: hidden;
    margin-bottom:40px;
    max-height: 700px;
}

.overview-notes-wrapper {
    float: right;
    width: 51%;
    max-height: 700px;
    border: 2px solid white;
    margin-right: 1%;
    padding: 0.25%;
    overflow: auto;
}

textarea#overview-notes {
    height: 375px;
    width: 99.5%;
}

    /*FILES*/
.files-wrapper {
    width: 49.8%;
    min-height: 425px;
    max-height: 650px;
    border: 2px solid white;
    float: right;
    padding: 0.2%;
    overflow: auto;
    margin-top: 0.25%;
}

.file-head {
    width: 30%;
}

.full-path-head {
    width: 63%;
}

.open-head {
    width:7%
}

    /*TASKS*/
.tasks-manager-wrapper {
    width:48%;
    min-height: 425px;
    max-height: 650px;
    overflow: auto;
    float:left;
    border: 2px solid white;
    padding: 0.2%;
    margin-top: 0.25%;
}

.description-head {
    width:84%
}
.date-head {
    width: 10%;
}
.delete-head {
    width: 6%;
}

textarea#task-description {
    height: 125px;
    width: 650px;
}

/*dropbox-util.html*/

.dbx-utils-upload-wrapper {
    float: left;
    clear: both;
    border: 2px solid white;
    padding: 0.25%;
    margin-top: 0.25%;
    margin-bottom:0.25%;
    width: 49%;
}

.dbx-banner {
    width: 30%;
}

.dbx-utils-download-wrapper {
    border: 2px solid white;
    float: right;
    width: 48%;
    padding: 0.25%;
    margin-top: 0.25%;
    margin-bottom:0.25%;

}

           /*headings*/

.dbx-checkbox-head { /*used for both tables*/
    width: 3%;
}

.dbx-local-filename-head {
    width: 25%;
}

.dbx-local-fullpath-head {
    width:64%;
}

.dbx-local-filesize-head {
    width: 8%;
}

/*.dbx-checkbox-head {width: 3%;} for remote files table as well*/

.dbx-remote-filename-head {
    width: 87%;
}

.dbx-remote-filesize-head {
    width: 10%;
}


/*edit-project.html*/
.edit-form-wrapper {
    width: 80%;
}

/*blog.html*/

.single-project-wrapper {
    width: 45%;
    border: 2px solid white;
    padding: 12px;
}

.comment-body {
    padding-left: 15px;
}

.comment-error {
    color:red;
}

.textarea#comment {
    font-size: 14px;
    width: 600px;
    height: 100px;
    padding: 3px;
}

.comment {
    max-width: 90%;
    margin-left: 2%;
    margin-bottom: 2.5%;
}

.comment-contents {
    padding-left: 1.5%;
    font-style :italic;
}

.post-avatar {
    padding: 2px;
    max-width: 50px;
    max-height: 50px;
    float: left;
    margin-right: 5px;
}

.author-avatar {
    max-width: 50px;
    float: left;
    margin-right: 1%;
}

.author {
    height: 50px;
    font-size: 20px;
    padding: 0.2%;
    margin-bottom: 2%;
}

/*all-projects.html*/
.allprojects-project-wrapper {
    border: 1px solid white;
    max-width: 70%;
    word-wrap: break-word;
    padding: 8px;
}

/*profile-settings.html*/

.dbx-all {

    max-width: 14%;
}

.dbx-logo-image {
    width: 90%;
    height: 90%;
}

.avatar {
    border: 1px solid white;
    padding: 8px;
    max-width: 225px;
    max-height: 225px;
}

/***FIRST STYLE THE BUTTON***/
.dbx-button{
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
padding:5px 25px; /*add some padding to the inside of the button*/
background:#007DE4; /*the colour of the button*/
border:1px solid #005aa3; /*required or the default border for the browser will appear*/
/*give the button curved corners, alter the size as required*/
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
/*give the button a drop shadow*/
-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);
/*style the text*/
color: white;
font-size:1.1em;
}

/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
.dbx-button:hover, .dbx-button:focus{
background-color :#005aa3; /*make the background a little darker*/
/*reduce the drop shadow size to give a pushed button effect*/
-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);
}

/*fragments.html*/

.header-nav-right-side {
    float: right;
    padding-right: 54%;
}