/*EVERYTHING*/

html * {
    color: white;

    background-image: url("https://images5.alphacoders.com/712/thumb-1920-712962.jpg");
    background-color: white;

    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

    background-attachment: fixed;
    font-family: Candara;
}

        /*Text highlighting*/
*::-moz-selection {
    background: pink;
    color: white;
}
*::selection {
    background: pink;
    color: white;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double white;
    color: white;
    text-align: center; }
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background-image: url("https://images5.alphacoders.com/712/thumb-1920-712962.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

option {
    background-color:black;
}

/*create-project.html*/

.textarea#notes, .textarea#instruments {
    font-size:15px;
}

/*project-overview.html*/

.tasks-table {
    border: 2px solid white;
    font-size: 1em;
    padding: 5px 5px;
    border-collapse: collapse;
    width: 800px;
}

.tasks-head {
    border: 1px solid white;
    padding: 0.3rem;
}

.tasks-row {
}

.tasks-data {
    border: 1px solid white;
    padding: 0.3rem;
}

.textarea#description {
    width: 600px;
    height: 125px;
}

.field-tag {
    text-decoration: underline;
    font-weight: bold;
    padding-right: 10px;
}

/*blog.html*/

.single-project-wrapper {
    width: 950px;
    border: 3px solid white;
    padding: 12px;
}

.comment-body {
    padding-left: 15px;
}

.comment-error {
    color:red;
}

.textarea#comment {
    font-size:14px;
    width: 600px;
    height: 100px;
    padding: 3px;
}

/*fragments.html*/

.header-nav-right-side {
    float: right;
    padding-right:930px;
}

/*all-projects.html*/

.delete-button {
    color: white;
    background: red;
}