/*EVERYTHING*/

html * {
    color: white;
    font-family: Candara;

    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("https://images5.alphacoders.com/712/thumb-1920-712962.jpg"); /*extra darkening on the gradient, for better UX*/
    background-color: white;
    background-attachment: fixed;

    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;

}

        /*Text highlighting*/
*::-moz-selection {
    background: #ff748c; /*its like a dark pink*/
    color: white;
}
*::selection {
    background: #ff748c;
    color: white;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double white;
    color: white;
    text-align: center; }
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("https://images5.alphacoders.com/712/thumb-1920-712962.jpg");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}

option {
    background-color:black;
}

.delete-button {
    color: white;
    background: red;
}

table {
    border: 2px solid white;
    font-size: 1em;
    padding: 5px 5px;
    border-collapse: collapse;
    table-layout: fixed;
    width:100%;
    overflow-wrap: break-word;
}

td {
    border: 1px solid white;
    padding: 0.3rem;
}

th {
    border: 1px solid white;
    padding: 0.3rem;
}

.avatar {
    border: 1px solid white;
    padding: 10px;
    max-width: 175px;
    max-height: 175px;
}

textarea#notes {
    height: 250px;
    width: 675px;
}

textarea#instruments {
    height: 160px;
    width: 450px;
}

input[type=text], input[type=password] {
    border: 1px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.2);

    width: 275px;
}

/*project-overview.html*/

    /*GENERIC*/
.info-fields-wrapper {
    width:45%;
    float:left;
    border: 2px solid white;
    padding: 5px;
}

.field-tag {
    text-decoration: underline;
    font-weight: bold;
    padding-right: 10px;
}

.overview-top-half-wrapper {
    float: top;
    min-height: 550px;
    overflow: auto;
    margin-bottom:40px;
        /*border: 2px solid white; */
}

.overview-bottom-half-wrapper {
    width:100%;
    overflow: hidden;
    margin-bottom:40px;
}

    /*FILES*/
.files-wrapper {
    width:50%;
    height: 640px;
    border: 2px solid white;
    float: right 1%;
    padding: 8px;
    margin-left: 47%;
    overflow: auto;
}

.file-head {
    width: 30%;
}

.full-path-head {
    width: 63%;
}

.open-head {
    width:7%
}

    /*TASKS*/
.tasks-manager-wrapper {
    width:48%;
    height:600px;
    overflow-y: auto;
    float:left;
    border: 2px solid white;
    padding:5px;
    margin-top: 20px;
}

.description-head {
    width:84%
}
.date-head {
    width: 10%;
}
.delete-head {
    width: 6%;
}

textarea#task-description {
    height: 125px;
    width: 650px;
}

.overview-actions {
    width:250px;
    height: 300px;
    border: 2px solid white;
    float: right 1200px;
    padding-left: 10px;
    margin-left: 950px;
    margin-top: 21px;
}

/*edit-project.html*/
.edit-form-wrapper {
    width: 80%;
}

/*blog.html*/

.single-project-wrapper {
    width: 950px;
    border: 3px solid white;
    padding: 12px;
}

.comment-body {
    padding-left: 15px;
}

.comment-error {
    color:red;
}

.textarea#comment {
    font-size: 14px;
    width: 600px;
    height: 100px;
    padding: 3px;
}

/*all-projects.html*/
.allprojects-project-wrapper {
    border: 1px solid white;
    max-width: 70%;
    word-wrap: break-word;
    padding: 8px;
}

/*fragments.html*/

.header-nav-right-side {
    float: right;
    padding-right:930px;
}