<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" />

</head>

<body>

<!-- dynamic header that shows different links based on if the user is logged in or not -->
<header th:fragment="header">

    <nav th:if="${#ctx.httpSession.getAttribute('currentUserObj')} != null">
        <a href="/">Home</a> |
        <a href="/blog">Showcase Blog</a> |
        <a href="/project/dashboard">Dashboard</a> |
        <a href="/user/user-profile">Profile and Settings</a> |

        <a class="header-nav-right-side" href="/user/logout">Log Out</a>
    </nav>

    <nav th:if="${#ctx.httpSession.getAttribute('currentUserObj')} == null">
        <a href="/">Home</a> |
        <a href="/blog">Showcase Blog</a>

        <div class="header-nav-right-side">
            <a href="/user/create-user">Sign Up</a> |
            <a href="/user/login">Log In</a>
        </div>
    </nav>

</header>


</body>

</html>