<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

</head>

<body>

<nav th:fragments="logged-in-navigation">
    <a href="/user/user-profile">Profile and Settings</a> |
</nav>

<nav th:fragments="logged-out-navigation">
    <a href="/user/create-user">Sign Up</a> |
    <a>Log In</a>
</nav>

</body>

</html>